.center {

}

body {
    background-color: #f5f5ff;
    width: 80vw;
    margin: auto;
}

header {
    
}

main {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2vw;
    margin-right: 2vw; 
}

footer {
    
}

div {

}

h1 {
   color: hsl(235, 65%, 15%); 
   
   height: 1.5cm;
   font-size: 3em;
}

h2 {
    background-color:  #f5f5ff;
}

h3 {

}

strong {
    color: red;
}

nav {
    
}

section {
    width: 120pt;
    padding: 5px;
}

ul, ol {
    
}

details {
    width: 6in;
}

form {
    background-color: rgb(226, 225, 225);
    margin: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 0%;
    font-size: 2ex;
    padding: 5px;
}

fieldset {
    background-color: #f9f9ff;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    padding-right: 7px;
}

