.center {

}

.invisible {
    display: none;
}

@media screen and (max-width: 500) {
}

nav li {
    display: inline;
}

summary:hover {
    color: blue;
}

summary:active{
    color: yellow;
}

body {
    background-color: #f5f5ff;
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: 10px, 1fr, 2fr, 1fr, 10px;
    grid-template-rows: auto;
}

header {
    position: static;
}

main {
    
    grid-column: 3, span 1;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2vw;
    margin-right: 2vw; 
}

footer {
    position:sticky;
    background-color: #e4e4f5;
    bottom: 0px;
}

div {

}

h1 {
   color: hsl(235, 65%, 15%); 
   text-align: center;
   text-decoration: underline;
   height: 1.5cm;
   font-size: 3em;
}

h2 {
    background-color:  #f5f5ff;
}

h3 {

}

strong {
    color: red;
    text-align: center;
}

section {
    grid-column: 2, span 1;
    width: 120pt;
    padding: 5px;
}

ul, ol {
    display: block;
}

details {
    display: inline-block;
    width: 6in;
    margin: 10px;
}

form {
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(226, 225, 225);
    margin: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 0%;
    font-size: 2ex;
    padding: 5px;
    min-width: 6in;
    max-width: 8in;
    
}

fieldset {
    
    flex-shrink: 3;
    flex-basis: auto;
    background-color: #f9f9ff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    padding-right: 7px;
}

