.center {

}

body {
    background-color: #f5f5ff;
}

header {
    
}

main {
    
}

footer {
    background-color: rgb(248, 229, 229);
}

div {

}

h1 {
   color: hsl(235, 65%, 15%); 
}

h2 {

}

h3 {

}

strong {
    color: red;
}

nav {

}

section {
    
}

ul, ol {
    
}

details {

}

form {

}

fieldset {
    background-color: #f9f9ff;
}

